/* div {
    width: 980px;
    height: 643px;
    background-image: url(./image/yellowspot.png);

    background-position: center center;


} */

div {
    margin: auto;
    height: 666px;
    width: 666px;
    border-radius: 90%;
    overflow: hidden;
    border: 6px solid #fff;

}

img {
    height: 100%;
    width: 100%;



    border-radius: 90%;
    filter: grayscale(75%);
    transition: 0.5s ease;
    cursor: pointer;
}


img:hover {


    transform: scale(1.3);
    filter: grayscale(0%)
}